Repository axunion/whisper-tauri: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-format, rust-fmt, rust-clippy

frontend-lint:
  run: pnpm lint

frontend-format:
  run: pnpm format

rust-fmt:
  run: cargo fmt --check

rust-clippy:
  run: cargo clippy -- -D warnings

Replace lefthook with /verify skill for pre-commit checks
  .claude/CLAUDE.md
  .claude/agents/tdd-runner.md
  .claude/skills/verify/SKILL.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

Add production build setup, release workflow, and custom app icon
  .claude/CLAUDE.md
  .github/workflows/release.yml
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/build.md
  src-tauri/Cargo.toml
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/64x64.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/icons/icon.svg
  src-tauri/tauri.conf.json
Due: none

Add packageManager field for CI pnpm version resolution
  package.json
Due: none

Fix CI: separate Rust target setup and use ayatana-appindicator
  .github/workflows/release.yml
Due: none

Fix macOS CI build by targeting apple-m1 CPU baseline
  .github/workflows/release.yml
Due: none

Fix macOS CI build: use SOURCE_DATE_EPOCH to disable GGML_NATIVE
  .github/workflows/release.yml
Due: none

Update docs with GGML_NATIVE/SOURCE_DATE_EPOCH findings
  .claude/CLAUDE.md
  docs/features/build.md
Due: none

Mark keyboard shortcuts feature as unnecessary
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/keyboard-shortcuts.md
Due: none

Mark history full-text search feature as completed
  docs/features/README.md
  docs/features/history-search.md
Due: none

Redesign UI with glassmorphism and violet color palette
  .claude/CLAUDE.md
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION_PLAN.md
  src/components/ui/AlertDialog.tsx
  src/components/ui/Card.tsx
  src/components/ui/Select.tsx
  src/components/ui/Sheet.tsx
  src/components/ui/__tests__/toast.test.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/toast.tsx
  src/index.css
Due: frontend-lint, frontend-format

Add animations, loading spinners, and UI balance refinements
  .claude/CLAUDE.md
  docs/features/README.md
  docs/features/animations.md
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/ModelStatus.tsx
  src/components/dashboard/QuickActions.tsx
  src/components/dashboard/RecentHistory.tsx
  src/components/layout/AppLayout.tsx
  src/components/transcription/ModelSelector.tsx
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Progress.tsx
  src/index.css
  src/pages/DevMenu.tsx
  src/pages/History.tsx
  src/pages/Settings.tsx
  src/pages/Transcription.tsx
  src/styles/animations.css
Due: frontend-lint, frontend-format

Clean up agents and skills: fix stale references and unsupported attributes
  .claude/agents/rust-backend.md
  .claude/agents/solidjs-frontend.md
  .claude/agents/tdd-runner.md
  .claude/skills/i18n/SKILL.md
  .claude/skills/refactor-be/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
  .claude/skills/verify/SKILL.md
Due: none

Add real-time recording feature with mic input and transcription
  .claude/CLAUDE.md
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/recording.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/Info.plist
  src-tauri/src/lib.rs
  src-tauri/src/recording/capture.rs
  src-tauri/src/recording/commands.rs
  src-tauri/src/recording/error.rs
  src-tauri/src/recording/mod.rs
  src-tauri/src/recording/sleep_guard.rs
  src-tauri/src/recording/types.rs
  src-tauri/tauri.conf.json
  src/components/transcription/AudioLevelMeter.tsx
  src/components/transcription/FileSelector.tsx
  src/components/transcription/RecordingPanel.tsx
  src/components/transcription/index.ts
  src/components/ui/Tabs.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/Transcription.tsx
  src/primitives/__tests__/createRecording.test.ts
  src/primitives/createRecording.ts
  src/test/setup.ts
  src/types/index.ts
  src/types/recording.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Clean up skills and agents: remove unsupported frontmatter and add missing module
  .claude/agents/rust-backend.md
  .claude/skills/i18n/SKILL.md
  .claude/skills/refactor-be/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
  .claude/skills/verify/SKILL.md
Due: none

Redesign transcription page: inline model/language selectors and language persistence
  src-tauri/src/whisper/commands.rs
  src-tauri/src/whisper/process.rs
  src/components/transcription/FileSelector.tsx
  src/components/transcription/RecordingPanel.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/Transcription.tsx
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createSettings.ts
  src/primitives/createWhisper.ts
  src/types/settings.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Refine UI consistency: fix card heights, button widths, and semantic markup
  .claude/CLAUDE.md
  src/components/dashboard/Dashboard.tsx
  src/components/dev/CacheClear.tsx
  src/components/dev/ModelManager.tsx
  src/components/history/HistoryDetail.tsx
  src/components/transcription/RecordingPanel.tsx
  src/components/ui/Card.tsx
  src/pages/DevMenu.tsx
  src/pages/History.tsx
  src/pages/Settings.tsx
  src/pages/Transcription.tsx
Due: frontend-lint, frontend-format

Add history sorting and improve filter/list UX
  src-tauri/src/history/db.rs
  src-tauri/src/history/search.rs
  src-tauri/src/history/types.rs
  src/__tests__/App.test.tsx
  src/components/dashboard/__tests__/Dashboard.test.tsx
  src/components/history/HistoryActions.tsx
  src/components/history/HistoryFilter.tsx
  src/components/history/HistoryList.tsx
  src/components/history/SortSelect.tsx
  src/components/history/index.ts
  src/components/ui/Checkbox.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/History.tsx
  src/primitives/createHistory.ts
  src/types/history.ts
  src/types/index.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Add text processing feature with llama-server integration
  .claude/CLAUDE.md
  docs/features/text-processing.md
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/error.rs
  src-tauri/src/text_processing/inference.rs
  src-tauri/src/text_processing/mod.rs
  src-tauri/src/text_processing/models.rs
  src-tauri/src/text_processing/server.rs
  src-tauri/src/text_processing/types.rs
  src/components/dev/LlmTester.tsx
  src/components/dev/__tests__/DevMenu.test.tsx
  src/components/dev/index.ts
  src/components/text-processing/ProofreadPanel.tsx
  src/components/text-processing/SummaryPanel.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/text-processing/index.ts
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/DevMenu.tsx
  src/pages/Settings.tsx
  src/primitives/createTextProcessing.ts
  src/types/index.ts
  src/types/text-processing.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Clean up docs and optimize Claude Code configuration
  .claude/CLAUDE.md
  .claude/agents/rust-backend.md
  .claude/agents/solidjs-frontend.md
  .claude/rules/i18n.md
  .claude/rules/ipc-events.md
  .claude/rules/ui-design.md
  .claude/rules/workarounds.md
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/animations.md
  docs/features/build.md
  docs/features/dashboard.md
  docs/features/dev-menu.md
  docs/features/error-handling.md
  docs/features/export.md
  docs/features/file-conversion.md
  docs/features/history-search.md
  docs/features/history.md
  docs/features/i18n.md
  docs/features/keyboard-shortcuts.md
  docs/features/recording.md
  docs/features/settings.md
  docs/features/text-processing.md
  docs/features/toast.md
  docs/mvp/step-01.md
  docs/mvp/step-02.md
  docs/mvp/step-03.md
  docs/mvp/step-04.md
  docs/mvp/step-05.md
  docs/mvp/step-06.md
  docs/mvp/step-07.md
Due: none

Redesign transcription page: unify three cards into single state-driven card
  src/components/transcription/TranscriptionProgress.tsx
  src/pages/Transcription.tsx
  src/primitives/createWhisper.ts
Due: frontend-lint, frontend-format

Redesign result viewer with tab-based layout and unified toolbar
  src/components/history/HistoryDetail.tsx
  src/components/text-processing/ProofreadPanel.tsx
  src/components/text-processing/SummaryPanel.tsx
  src/components/text-processing/index.ts
  src/components/transcription/ResultProofreadTab.tsx
  src/components/transcription/ResultSummaryTab.tsx
  src/components/transcription/ResultTextTab.tsx
  src/components/transcription/ResultTimelineTab.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/components/transcription/__tests__/ResultViewer.test.tsx
  src/components/ui/Tabs.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/DevMenu.tsx
  src/pages/Transcription.tsx
  src/test/helpers.tsx
Due: frontend-lint, frontend-format

Fix exit panic, improve sidebar dev menu, dialog animation, and i18n
  src-tauri/src/lib.rs
  src/components/layout/AppSidebar.tsx
  src/components/ui/AlertDialog.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Redesign history page with selection mode and floating action bar
  src/components/history/HistoryActions.tsx
  src/components/history/HistoryFilter.tsx
  src/components/history/HistoryList.tsx
  src/components/history/SortSelect.tsx
  src/components/layout/AppLayout.tsx
  src/components/ui/sidebar.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/index.css
  src/pages/History.tsx
Due: frontend-lint, frontend-format

Improve settings page: unify terminology, i18n model descriptions, simplify UI
  src/components/dashboard/ModelStatus.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/transcription/ModelSelector.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/modelDescription.ts
  src/pages/Settings.tsx
Due: frontend-lint, frontend-format

Refactor: extract shared download utility, deduplicate history row mapper, clean up imports
  src-tauri/src/converter/downloader.rs
  src-tauri/src/converter/error.rs
  src-tauri/src/download.rs
  src-tauri/src/history/db.rs
  src-tauri/src/history/error.rs
  src-tauri/src/history/search.rs
  src-tauri/src/lib.rs
  src-tauri/src/recording/capture.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/error.rs
  src/components/__tests__/ErrorDisplay.test.tsx
  src/components/dev/DebugLog.tsx
  src/components/settings/FfmpegManager.tsx
  src/components/settings/SettingsSelect.tsx
  src/components/settings/WhisperModelManager.tsx
  src/components/settings/index.ts
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/TranscriptionOptionsBar.tsx
  src/components/transcription/index.ts
  src/lib/__tests__/errors.test.ts
  src/lib/__tests__/export.test.ts
  src/pages/Settings.tsx
  src/pages/Transcription.tsx
  src/primitives/__tests__/createFfmpegDownloader.test.ts
  src/primitives/__tests__/createFileConverter.test.ts
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/createFfmpegDownloader.ts
  src/primitives/createFileConverter.ts
  src/primitives/createHistory.ts
  src/primitives/createRecording.ts
  src/primitives/createSettings.ts
  src/primitives/createTextProcessing.ts
  src/primitives/createTheme.ts
  src/primitives/createWhisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Redesign history selection UI: replace Kobalte Checkbox with CheckIndicator overlay
  src/components/history/CheckIndicator.tsx
  src/components/history/HistoryActions.tsx
  src/components/history/HistoryList.tsx
  src/components/layout/AppLayout.tsx
  src/components/layout/AppSidebar.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/index.css
  src/pages/History.tsx
Due: frontend-lint, frontend-format

Unify button UI: add icons to all buttons, standardize dialog button sizing
  src-tauri/src/history/db.rs
  src/components/ErrorDisplay.tsx
  src/components/dashboard/RecentHistory.tsx
  src/components/dev/CacheClear.tsx
  src/components/dev/DebugLog.tsx
  src/components/dev/LlmTester.tsx
  src/components/dev/ModelManager.tsx
  src/components/history/CheckIndicator.tsx
  src/components/history/HistoryActions.tsx
  src/components/settings/FfmpegManager.tsx
  src/components/settings/WhisperModelManager.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/transcription/ResultSummaryTab.tsx
  src/components/transcription/ResultViewer.tsx
  src/components/transcription/TranscriptionOptionsBar.tsx
  src/components/transcription/TranscriptionProgress.tsx
  src/pages/History.tsx
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Fix llama-server download: update version to b8354, support tar.gz archives, add error toasts and delete button
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/models.rs
  src/components/text-processing/TextModelManager.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/DevMenu.tsx
  src/primitives/createTextProcessing.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Simplify dev menu and settings: remove debug log, output format, and settings reset
  src/components/dev/CacheClear.tsx
  src/components/dev/DebugLog.tsx
  src/components/dev/ModelManager.tsx
  src/components/dev/__tests__/DevMenu.test.tsx
  src/components/dev/index.ts
  src/components/settings/FfmpegManager.tsx
  src/components/settings/WhisperModelManager.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/export.ts
  src/pages/DevMenu.tsx
  src/pages/Settings.tsx
  src/primitives/__tests__/createDevLog.test.ts
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/createDevLog.ts
  src/primitives/createSettings.ts
  src/types/settings.ts
Due: frontend-lint, frontend-format

Redesign history toolbar: add sort direction, ToggleGroup filter, and two-row layout
  src-tauri/src/history/db.rs
  src-tauri/src/history/search.rs
  src-tauri/src/history/types.rs
  src/components/history/HistoryFilter.tsx
  src/components/history/SortSelect.tsx
  src/components/history/index.ts
  src/components/ui/ToggleGroup.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/History.tsx
  src/primitives/createHistory.ts
  src/types/history.ts
  src/types/index.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Add history rename feature, redesign detail sheet, and fix code quality issues
  src-tauri/src/history/commands.rs
  src-tauri/src/history/db.rs
  src-tauri/src/lib.rs
  src/components/history/HistoryDetail.tsx
  src/components/history/HistoryList.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/ui/Sheet.tsx
  src/lib/format.ts
  src/pages/History.tsx
  src/primitives/createHistory.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Extract CardTitleWithIcon component to deduplicate icon badge pattern
  src/components/settings/FfmpegManager.tsx
  src/components/settings/WhisperModelManager.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/ui/Card.tsx
  src/pages/DevMenu.tsx
  src/pages/Settings.tsx
Due: frontend-lint, frontend-format

Redesign dashboard with HeroCard, StatsRow, and RecentActivity components
  src/__tests__/App.test.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/HeroCard.tsx
  src/components/dashboard/ModelStatus.tsx
  src/components/dashboard/QuickActions.tsx
  src/components/dashboard/RecentActivity.tsx
  src/components/dashboard/RecentHistory.tsx
  src/components/dashboard/StatsRow.tsx
  src/components/dashboard/__tests__/Dashboard.test.tsx
  src/components/dashboard/index.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/format.ts
Due: frontend-lint, frontend-format

Add onboarding wizard with settings singleton and window management
  src-tauri/capabilities/default.json
  src-tauri/tauri.conf.json
  src/__tests__/App.test.tsx
  src/components/layout/AppLayout.tsx
  src/components/layout/__tests__/AppLayout.test.tsx
  src/components/onboarding/CompletionStep.tsx
  src/components/onboarding/FfmpegStep.tsx
  src/components/onboarding/LlmStep.tsx
  src/components/onboarding/ModelStep.tsx
  src/components/onboarding/Onboarding.tsx
  src/components/onboarding/OnboardingStepIndicator.tsx
  src/components/onboarding/WelcomeStep.tsx
  src/components/onboarding/index.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/DevMenu.tsx
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/createSettings.ts
  src/styles/animations.css
  src/types/settings.ts
Due: frontend-lint, frontend-format

Refactor primitives to module-level singletons and add global DownloadIndicator
  src-tauri/src/text_processing/models.rs
  src/components/layout/AppSidebar.tsx
  src/components/layout/DownloadIndicator.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/primitives/__tests__/createFfmpegDownloader.test.ts
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createFfmpegDownloader.ts
  src/primitives/createTextProcessing.ts
  src/primitives/createWhisper.ts
  tsconfig.json
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Improve llama-server lifecycle, model selection persistence, and code quality
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/server.rs
  src/components/dev/LlmTester.tsx
  src/components/dev/ModelManager.tsx
  src/components/layout/DownloadIndicator.tsx
  src/components/settings/WhisperModelManager.tsx
  src/components/text-processing/TextModelManager.tsx
  src/lib/errors.ts
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/createSettings.ts
  src/primitives/createTextProcessing.ts
  src/primitives/createWhisper.ts
  src/types/settings.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Replace proofreading with AI content features (summary, keywords, action items, title)
  src-tauri/src/history/commands.rs
  src-tauri/src/history/db.rs
  src-tauri/src/history/types.rs
  src-tauri/src/lib.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/inference.rs
  src/components/history/HistoryDetail.tsx
  src/components/transcription/ResultKeywordsTab.tsx
  src/components/transcription/ResultProofreadTab.tsx
  src/components/transcription/ResultSummaryTab.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/Transcription.tsx
  src/primitives/createTextProcessing.ts
  src/types/history.ts
  src/types/index.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Extract per-context AI session, add action items tab, and simplify summary UI
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/inference.rs
  src-tauri/src/text_processing/types.rs
  src/components/history/HistoryDetail.tsx
  src/components/transcription/ResultActionItemsTab.tsx
  src/components/transcription/ResultKeywordsTab.tsx
  src/components/transcription/ResultSummaryTab.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/primitives/createAiSession.ts
  src/primitives/createTextProcessing.ts
  src/types/index.ts
  src/types/text-processing.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Redesign history detail UI and extract shared formatDate utility
  src/components/history/HistoryDetail.tsx
  src/components/history/HistoryList.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/lib/format.ts
  src/pages/History.tsx
Due: frontend-lint, frontend-format

Replace auto title suggestion banner with on-demand title generation via AI menu
  src/components/history/HistoryDetail.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/Transcription.tsx
  src/primitives/createAiSession.ts
Due: frontend-lint, frontend-format

Path conditions:
  frontend-lint: any of: *.{ts,tsx}
  frontend-format: any of: *.{ts,tsx}
  rust-fmt: any of: *.rs and ^src\-tauri/
  rust-clippy: any of: *.rs and ^src\-tauri/
