Repository axunion/whisper-tauri: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-format, rust-fmt, rust-clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: "*.{ts,tsx}"
      run: pnpm lint
    frontend-format:
      glob: "*.{ts,tsx}"
      run: pnpm format
    rust-fmt:
      glob: "*.rs"
      root: "src-tauri/"
      run: cargo fmt --check
    rust-clippy:
      glob: "*.rs"
      root: "src-tauri/"
      run: cargo clippy -- -D warnings

pre-push:
  parallel: true
  commands:
    frontend-test:
      run: pnpm test:run
    rust-test:
      root: "src-tauri/"
      run: cargo test

Add improvements roadmap with progress tracker
  docs/improvements.md
Due: none

Refresh Claude Code config with new automations and English docs
  .claude/agents/a11y-reviewer.md
  .claude/agents/security-reviewer.md
  .claude/rules/error-handling.md
  .claude/rules/i18n.md
  .claude/rules/ipc-events.md
  .claude/rules/tuning.md
  .claude/rules/ui-design.md
  .claude/rules/workarounds.md
  .claude/settings.json
  .claude/skills/add-command/SKILL.md
  .claude/skills/add-module/SKILL.md
  .claude/skills/i18n/SKILL.md
  .claude/skills/refactor-be/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/verify/SKILL.md
  CLAUDE.md
Due: none

Redesign app icon with full-bleed bg and flowing waveform
  .gitignore
  docs/improvements.md
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/64x64.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/icons/icon.svg
Due: none

Refresh Claude Code permissions and broaden deny coverage
  .claude/settings.json
  .gitignore
Due: none

Localize file dialogs to follow macOS system language
  docs/improvements.md
  src-tauri/Info.plist
  src/components/dashboard/QuickActions.tsx
  src/components/transcription/FileSelector.tsx
  src/components/transcription/RecordingPanel.tsx
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
Due: frontend-lint, frontend-format

Consolidate section-row layouts onto SectionRow
  .claude/rules/ui-design.md
  docs/improvements.md
  src/components/dev/CacheClear.tsx
  src/components/settings/NotionIntegration.tsx
  src/components/settings/SettingsSelect.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/ui/FfmpegControl.tsx
  src/components/ui/SectionRow.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/DevMenu.tsx
  src/pages/Settings.tsx
Due: frontend-lint, frontend-format

Add HelpHint popovers for user-facing glossary terms
  docs/improvements.md
  src/components/settings/FfmpegManager.tsx
  src/components/settings/NotionIntegration.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/ui/Card.tsx
  src/components/ui/HelpHint.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/Settings.tsx
Due: frontend-lint, frontend-format

Group share actions into a dedicated dropdown menu
  docs/improvements.md
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
Due: frontend-lint, frontend-format

Consolidate pnpm scripts into check and fix
  .claude/settings.json
  .claude/skills/add-command/SKILL.md
  .claude/skills/i18n/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
  .claude/skills/verify/SKILL.md
  CLAUDE.md
  README.md
  docs/improvements.md
  package.json
Due: none

Record VAD state in history entries
  docs/improvements.md
  src-tauri/src/history/db/entries.rs
  src-tauri/src/history/db/mod.rs
  src-tauri/src/history/db/rows.rs
  src-tauri/src/history/search.rs
  src-tauri/src/history/types.rs
  src/components/history/HistoryDetail.tsx
  src/components/history/HistoryList.tsx
  src/components/history/VadBadge.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/Transcription.tsx
  src/primitives/__tests__/createHistory.test.ts
  src/types/history.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Toggle VAD per run from the transcription options bar
  docs/improvements.md
  src/components/transcription/TranscriptionOptionsBar.tsx
  src/components/ui/Checkbox.tsx
  src/pages/Transcription.tsx
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createWhisper.ts
Due: frontend-lint, frontend-format

Drop medium and large-v3 from the public model lineup
  README.md
  docs/improvements.md
  src-tauri/src/history/db/entries.rs
  src-tauri/src/history/db/mod.rs
  src-tauri/src/history/search.rs
  src-tauri/src/history/types.rs
  src-tauri/src/whisper/models.rs
  src-tauri/src/whisper/types.rs
  src/i18n/__tests__/index.test.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/modelDescription.ts
  src/primitives/__tests__/createHistory.test.ts
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/__tests__/createWhisper.test.ts
  src/types/__tests__/whisper.test.ts
  src/types/whisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Add legacy-model cleanup machinery for LLM and total-size footer
  docs/improvements.md
  src-tauri/src/lib.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/models.rs
  src-tauri/src/text_processing/types.rs
  src/components/text-processing/LegacyTextModelList.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/text-processing/index.ts
  src/components/ui/TotalSizeFooter.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/__tests__/format.test.ts
  src/lib/format.ts
  src/pages/Settings.tsx
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createTextProcessing.ts
  src/primitives/createWhisper.ts
  src/types/index.ts
  src/types/text-processing.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Generate structured summaries via JSON-schema-constrained LLM output
  docs/improvements.md
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/inference.rs
  src-tauri/src/text_processing/types.rs
  src/components/transcription/ResultSummaryTab.tsx
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/__tests__/format.test.ts
  src/lib/format.ts
  src/primitives/__tests__/createAiSession.test.ts
  src/primitives/createAiSession.ts
  src/types/index.ts
  src/types/text-processing.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Enable saving summary/clean-text tabs and unblock fs writes
  .claude/rules/tauri-permissions.md
  docs/improvements.md
  src-tauri/capabilities/default.json
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
Due: frontend-lint, frontend-format

Loosen agent and rule guidance for additions and workarounds
  .claude/agents/rust-backend.md
  .claude/agents/solidjs-frontend.md
  .claude/rules/tuning.md
  .claude/rules/ui-design.md
Due: none

Slim Claude skills and add native pre-commit formatter hook
  .claude/skills/add-command/SKILL.md
  .claude/skills/add-module/SKILL.md
  .claude/skills/i18n/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/verify/SKILL.md
  .githooks/pre-commit
  package.json
Due: none

Confirm history close during AI processing
  docs/improvements.md
  src/components/history/HistoryDetail.tsx
  src/components/history/HistoryProcessingCloseDialog.tsx
  src/components/history/index.ts
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/History.tsx
  src/primitives/createAiSession.ts
Due: frontend-lint, frontend-format

Send structured Notion pages with metadata and summary blocks
  docs/improvements.md
  src-tauri/src/notion/client.rs
  src-tauri/src/notion/types.rs
  src/components/history/HistoryDetail.tsx
  src/components/transcription/NotionShareDialog.tsx
  src/components/transcription/ResultViewer.tsx
  src/components/transcription/TranscriptionResult.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/__tests__/format.test.ts
  src/lib/__tests__/notion.test.ts
  src/lib/format.ts
  src/lib/notion.ts
  src/pages/Transcription.tsx
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createWhisper.ts
  src/types/index.ts
  src/types/notion.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Document commit style and rule files in CLAUDE.md
  CLAUDE.md
Due: none

Trim improvements log and queue post-#10 Notion follow-ups
  docs/improvements.md
Due: none

Stabilize Notion share dialog a11y and center the sending state
  docs/improvements.md
  src/components/transcription/NotionShareDialog.tsx
Due: frontend-lint, frontend-format

Replace Notion success dialog with action-bearing toast
  docs/improvements.md
  src/components/transcription/NotionShareDialog.tsx
  src/components/transcription/ResultViewer.tsx
  src/components/ui/toast.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/__tests__/toast.test.ts
  src/lib/toast.ts
  src/primitives/createNotionShare.ts
Due: frontend-lint, frontend-format

Add PR check workflow with frontend and backend lint/test jobs
  .github/workflows/ci.yml
  docs/improvements.md
Due: none

Install libasound2-dev on CI for cpal ALSA bindings
  .github/workflows/ci.yml
  docs/improvements.md
Due: none

Fix clippy warnings from Rust 1.95 surfaced by CI
  src-tauri/src/converter/downloader.rs
  src-tauri/src/text_processing/models.rs
Due: rust-fmt, rust-clippy

Bundle Windows/Linux installers and refresh install guide
  .github/workflows/release.yml
  docs/improvements.md
  docs/install.md
  src-tauri/tauri.conf.json
Due: none

Close out #14 (Windows/Linux bundling) and refresh README signing note
  README.md
  docs/improvements.md
Due: none

Merge release.yml's two tauri-action steps into one
  .github/workflows/release.yml
  docs/improvements.md
Due: none

Revert "Merge release.yml's two tauri-action steps into one"
  .github/workflows/release.yml
  docs/improvements.md
Due: none

Document why release.yml step merge was reverted
  docs/improvements.md
Due: none

Capture tauri-action codesign trap in workarounds.md
  .claude/rules/workarounds.md
Due: none

Close out improvements.md #11 (binary update flow) and shelve #12
  docs/binary-updates.md
  docs/improvements.md
Due: none

Harden accessibility and security ahead of the first release
  src-tauri/src/notion/client.rs
  src-tauri/tauri.conf.json
  src/components/ErrorDisplay.tsx
  src/components/transcription/RecordingPanel.tsx
  src/components/transcription/ResultProcessingShell.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/TranscriptionProgress.tsx
  src/components/ui/DropdownMenu.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Extract shared helpers across text-processing, history, and Notion blocks
  src-tauri/src/notion/client.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/inference.rs
  src/components/transcription/ResultViewer.tsx
  src/pages/History.tsx
  src/primitives/createTextProcessing.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Tone down dark-mode purple toward a neutral scheme
  src/index.css
Due: none

Migrate git hooks from .githooks directory to lefthook
  .claude/settings.json
  .githooks/pre-commit
  .gitignore
  .mcp.json
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add packageManager field for CI pnpm version detection
  package.json
Due: none

Update pnpm to 11.5.1, migrate solid-icons v2 names, and strengthen pre-commit hooks
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/components/dashboard/SetupBanner.tsx
  src/components/onboarding/LlmStep.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/ui/AlertDialog.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Checkbox.tsx
  src/components/ui/DropdownMenu.tsx
  src/components/ui/Select.tsx
  src/components/ui/Sheet.tsx
  src/components/ui/Tabs.tsx
  src/components/ui/toast.tsx
Due: frontend-lint, frontend-format

Translate all project documentation and internal comments to English
  .claude/agents/a11y-reviewer.md
  .claude/agents/security-reviewer.md
  .claude/rules/error-handling.md
  .claude/rules/tauri-permissions.md
  .claude/skills/add-command/SKILL.md
  .claude/skills/add-module/SKILL.md
  .claude/skills/i18n/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/verify/SKILL.md
  CLAUDE.md
  src/primitives/createTextProcessing.ts
  tsconfig.json
Due: frontend-lint, frontend-format
