Repository axunion/whisper-tauri: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-format, rust-fmt, rust-clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: "*.{ts,tsx}"
      run: pnpm lint
    frontend-format:
      glob: "*.{ts,tsx}"
      run: pnpm format
    rust-fmt:
      glob: "*.rs"
      root: "src-tauri/"
      run: cargo fmt --check
    rust-clippy:
      glob: "*.rs"
      root: "src-tauri/"
      run: cargo clippy -- -D warnings

pre-push:
  parallel: true
  commands:
    frontend-test:
      run: pnpm test:run
    rust-test:
      root: "src-tauri/"
      run: cargo test

Pin Tauri plugin versions to match minor version across Rust and NPM
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: none

Migrate error messages to i18n with resilience improvements
  README.md
  public/tauri.svg
  public/vite.svg
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/components/ErrorDisplay.tsx
  src/components/__tests__/ErrorDisplay.test.tsx
  src/components/dev/LlmTester.tsx
  src/components/settings/NotionIntegration.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/transcription/NotionShareDialog.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/__tests__/errors.test.ts
  src/lib/errors.ts
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/createNotionShare.ts
  src/primitives/createSettings.ts
  src/test/sample.test.ts
  src/types/errors.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Restructure docs into public tree and dev notes
  CLAUDE.md
  docs/dev/binary-updates.md
  docs/improvements.md
  notes/improvements.md
Due: none

Add manual update check and document the update flow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/install.md
  notes/improvements.md
  package.json
  src-tauri/src/lib.rs
  src-tauri/src/update.rs
  src/components/settings/UpdateCheck.tsx
  src/components/settings/index.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/__tests__/errors.test.ts
  src/lib/__tests__/version.test.ts
  src/lib/errors.ts
  src/lib/version.ts
  src/pages/Settings.tsx
  src/primitives/__tests__/createUpdateCheck.test.ts
  src/primitives/createUpdateCheck.ts
  src/test/setup.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Add dev-reset cleanup script for UI-undeletable cruft
  docs/dev/binary-updates.md
  notes/improvements.md
  package.json
  scripts/dev-reset.sh
Due: none

Refresh Claude Code assets and add smoke-test and review layers
  .claude/agents/security-reviewer.md
  .claude/rules/error-handling.md
  .claude/rules/tauri-permissions.md
  .claude/settings.json
  .claude/skills/add-command/SKILL.md
  .claude/skills/add-module/SKILL.md
  .claude/skills/refactor-be/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/smoke/SKILL.md
  CLAUDE.md
  REVIEW.md
Due: none

Restructure CLAUDE.md around behavioral rules and add AGENTS.md mirror
  AGENTS.md
Due: none

Restructure docs into public docs/ and Japanese spec/ trees
  .claude/rules/workarounds.md
  .claude/skills/smoke/SKILL.md
  AGENTS.md
  CLAUDE.md
  README.md
  docs/dev/binary-updates.md
  docs/privacy.md
  scripts/dev-reset.sh
  spec/architecture.md
  spec/binary-updates.md
  spec/history.md
  spec/improvements.md
  spec/notion.md
  spec/recording.md
  spec/settings.md
  spec/text-processing.md
  spec/transcription.md
Due: none

Enforce SQLite foreign keys via a shared connection helper
  spec/history.md
  src-tauri/src/history/commands.rs
  src-tauri/src/history/db/ai_content.rs
  src-tauri/src/history/db/entries.rs
  src-tauri/src/history/db/mod.rs
Due: rust-fmt, rust-clippy

Add macOS ad-hoc signing and update Gatekeeper install docs
  .github/workflows/release.yml
  docs/install.md
  spec/improvements.md
  src-tauri/Entitlements.plist
  src-tauri/tauri.conf.json
Due: none

Update devEngines node and pnpm versions to use caret notation
  package.json
Due: none

Bump cmake crate to 0.1.58 for Visual Studio 2026 support
  src-tauri/Cargo.lock
Due: none

Extract ModelDownloadAction and prune dead frontend code
  src/components/dashboard/index.ts
  src/components/layout/index.ts
  src/components/onboarding/FfmpegStep.tsx
  src/components/onboarding/LlmStep.tsx
  src/components/onboarding/index.ts
  src/components/text-processing/TextModelManager.tsx
  src/components/transcription/ResultViewer.tsx
  src/components/transcription/index.ts
  src/components/ui/DownloadProgress.tsx
  src/components/ui/ModelDownloadAction.tsx
  src/components/ui/WhisperModelList.tsx
  src/i18n/__tests__/index.test.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/format.ts
  src/primitives/createHistory.ts
  src/primitives/createNotionSettings.ts
  src/primitives/createTextProcessing.ts
Due: frontend-lint, frontend-format

Remove generic specialist agents and inline conventions into refactor skills
  .claude/agents/rust-backend.md
  .claude/agents/solidjs-frontend.md
  .claude/skills/refactor-be/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
Due: none

Sync Rust error prefixes with frontend map and harden test suite
  spec/improvements.md
  src-tauri/src/converter/commands.rs
  src-tauri/src/converter/downloader.rs
  src-tauri/src/notion/types.rs
  src-tauri/src/recording/capture.rs
  src-tauri/src/whisper/commands.rs
  src-tauri/src/whisper/process.rs
  src/components/__tests__/ErrorDisplay.test.tsx
  src/components/dashboard/__tests__/Dashboard.test.tsx
  src/components/dev/__tests__/DevMenu.test.tsx
  src/components/layout/__tests__/Sidebar.test.tsx
  src/components/ui/__tests__/Button.test.tsx
  src/i18n/__tests__/dictionaries.test.ts
  src/lib/__tests__/errorPrefixSync.test.ts
  src/lib/__tests__/errors.test.ts
  src/lib/errors.ts
  src/primitives/__tests__/createAiActions.test.ts
  src/primitives/__tests__/createNotionSettings.test.ts
  src/primitives/__tests__/createNotionShare.test.ts
  src/primitives/__tests__/createTextProcessing.test.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Fix a11y, i18n, and type-sync issues from F7 quality audit
  spec/improvements.md
  src/components/dashboard/QuickActions.tsx
  src/components/dashboard/SetupBanner.tsx
  src/components/dev/LlmTester.tsx
  src/components/history/HistoryActions.tsx
  src/components/history/HistoryDetail.tsx
  src/components/history/SearchBar.tsx
  src/components/history/SortSelect.tsx
  src/components/layout/DownloadIndicator.tsx
  src/components/layout/__tests__/Sidebar.test.tsx
  src/components/onboarding/OnboardingStepIndicator.tsx
  src/components/settings/NotionIntegration.tsx
  src/components/settings/SettingsSelect.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/transcription/AudioLevelMeter.tsx
  src/components/transcription/FileSelector.tsx
  src/components/transcription/RecordingPanel.tsx
  src/components/transcription/ResultProcessingShell.tsx
  src/components/transcription/TranscriptionOptionsBar.tsx
  src/components/transcription/TranscriptionResult.tsx
  src/components/ui/Card.tsx
  src/components/ui/Checkbox.tsx
  src/components/ui/DownloadProgress.tsx
  src/components/ui/Select.tsx
  src/components/ui/WhisperModelList.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/toast.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/History.tsx
  src/primitives/createAiSession.ts
  src/styles/animations.css
  src/types/history.ts
Due: frontend-lint, frontend-format

Add third-party licenses and credits page
  docs/licenses.md
  spec/improvements.md
Due: none

Add user documentation site with VitePress and Pages deploy
  .github/workflows/docs.yml
  .gitignore
  docs/.vitepress/config.mts
  docs/faq.md
  docs/getting-started.md
  docs/index.md
  docs/install.md
  package.json
  pnpm-lock.yaml
  spec/improvements.md
  spec/releasing.md
Due: none

Link published docs site from README and close out F9 manual tasks
  README.md
  spec/improvements.md
Due: none

Finalize F10 final-check scope and checklist
  spec/improvements.md
  spec/releasing.md
Due: none

Complete F10 final on-device verification with GO verdict
  spec/improvements.md
  spec/releasing.md
Due: none

Update LLM stack to b9950 with official sampling and chunking fix
  README.md
  spec/binary-updates.md
  spec/text-processing.md
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/inference.rs
  src-tauri/src/text_processing/models.rs
  src-tauri/src/text_processing/server.rs
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/errors.ts
  src/primitives/__tests__/createAiActions.test.ts
  src/primitives/__tests__/createTextProcessing.test.ts
  src/primitives/createAiActions.ts
  src/primitives/createTextProcessing.ts
  src/types/errors.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Remove unused Apple codesign secrets from release workflow
  .github/workflows/release.yml
Due: none

Retire spec/improvements.md after the first release ships
  spec/improvements.md
  spec/releasing.md
Due: none

Make AGENTS.md the single source of project context
  .claude/agents/a11y-reviewer.md
  .claude/agents/security-reviewer.md
  .claude/skills/add-module/SKILL.md
  .claude/skills/refactor-be/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
  .claude/skills/release/SKILL.md
  .claude/skills/smoke/SKILL.md
  .mcp.json
  AGENTS.md
  CLAUDE.md
  README.md
  REVIEW.md
Due: none

Tighten the history source migration and document the ffmpeg URL key
  spec/settings.md
  spec/transcription.md
  src-tauri/src/converter/commands.rs
  src-tauri/src/history/db/mod.rs
  src-tauri/src/history/db/rows.rs
Due: rust-fmt, rust-clippy

Fix silent failures across recording, search, and text processing
  src-tauri/src/converter/commands.rs
  src-tauri/src/download.rs
  src-tauri/src/history/search.rs
  src-tauri/src/recording/capture.rs
  src-tauri/src/recording/commands.rs
  src-tauri/src/text_processing/inference.rs
  src-tauri/src/text_processing/server.rs
  src-tauri/src/whisper/process.rs
  src/components/history/HistoryDetail.tsx
  src/lib/__tests__/errorPrefixSync.test.ts
  src/pages/Transcription.tsx
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Read stored history timestamps as the UTC they are
  src-tauri/src/history/db/entries.rs
  src-tauri/src/history/db/time.rs
  src-tauri/src/history/search.rs
  src-tauri/src/history/types.rs
  src/components/history/HistoryFilter.tsx
  src/components/history/__tests__/HistoryFilter.test.tsx
  src/lib/__tests__/format.test.ts
  src/lib/format.ts
  src/types/history.ts
  vitest.config.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Type-check the Vite and Vitest configs
  package.json
  pnpm-lock.yaml
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: frontend-lint, frontend-format

Run title generation without reporting progress
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/inference.rs
Due: rust-fmt, rust-clippy

Implement code changes to enhance functionality and improve performance
  pnpm-lock.yaml
Due: none

Harden download sources and narrow the webview filesystem scope
  .claude/rules/tauri-permissions.md
  docs/privacy.md
  spec/settings.md
  spec/text-processing.md
  spec/transcription.md
  src-tauri/capabilities/default.json
  src-tauri/src/converter/commands.rs
  src-tauri/src/converter/downloader.rs
  src-tauri/src/converter/duration.rs
  src-tauri/src/converter/error.rs
  src-tauri/src/converter/ffmpeg.rs
  src-tauri/src/converter/mod.rs
  src-tauri/src/download.rs
  src-tauri/src/lib.rs
  src-tauri/src/mirrors.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/server.rs
  src-tauri/src/whisper/commands.rs
  src/lib/__tests__/errorPrefixSync.test.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Prune obsolete .claude agents, skills, and rules
  .claude/agents/a11y-reviewer.md
  .claude/agents/security-reviewer.md
  .claude/agents/type-sync-checker.md
  .claude/rules/frontend-conventions.md
  .claude/rules/ipc-events.md
  .claude/skills/add-command/SKILL.md
  .claude/skills/add-module/SKILL.md
  .claude/skills/refactor-be/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
  .claude/skills/release/SKILL.md
  AGENTS.md
  CLAUDE.md
  REVIEW.md
  spec/architecture.md
Due: none

Replace the VitePress docs site with Astro Starlight
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  docs/.vitepress/config.mts
  docs/astro.config.mjs
  docs/index.md
  docs/package.json
  docs/public/favicon.svg
  docs/src/content.config.ts
  docs/src/content/docs/faq.md
  docs/src/content/docs/getting-started.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/install.md
  docs/src/content/docs/licenses.md
  docs/src/content/docs/privacy.md
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  spec/architecture.md
  spec/releasing.md
  spec/settings.md
Due: frontend-lint, frontend-format

Add read-only subagents and a tiered policy for using them
  .claude/agents/researcher.md
  .claude/agents/reviewer.md
  .claude/agents/tester.md
  AGENTS.md
  CLAUDE.md
Due: none

Resync AGENTS.md with the updated shared base template
  AGENTS.md
Due: none

Sync subagent setup with the updated agent-strategy-setup skill
  .claude/agents/researcher.md
  .claude/agents/tester.md
  CLAUDE.md
Due: none
