Repository axunion/whisper-tauri: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-format, rust-fmt, rust-clippy

frontend-lint:
  run: pnpm lint

frontend-format:
  run: pnpm format

rust-fmt:
  run: cargo fmt --check

rust-clippy:
  run: cargo clippy -- -D warnings

Replace keywords and action items with clean text feature
  src-tauri/src/history/db.rs
  src-tauri/src/lib.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/inference.rs
  src-tauri/src/text_processing/server.rs
  src-tauri/src/text_processing/types.rs
  src/components/transcription/ResultActionItemsTab.tsx
  src/components/transcription/ResultCleanTextTab.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/primitives/createAiSession.ts
  src/types/history.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Pin ffmpeg download URLs to specific versions with update detection
  src-tauri/src/converter/commands.rs
  src-tauri/src/converter/downloader.rs
  src-tauri/src/history/db.rs
  src-tauri/src/lib.rs
  src/components/settings/FfmpegManager.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/primitives/createFfmpegDownloader.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Remove system PATH ffmpeg fallback and add supported formats
  src-tauri/src/converter/commands.rs
  src-tauri/src/converter/ffmpeg.rs
  src-tauri/src/converter/mod.rs
  src-tauri/src/lib.rs
  src/components/dashboard/StatsRow.tsx
  src/components/onboarding/CompletionStep.tsx
  src/components/onboarding/FfmpegStep.tsx
  src/components/settings/FfmpegManager.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/DevMenu.tsx
  src/primitives/__tests__/createFfmpegDownloader.test.ts
  src/primitives/createFfmpegDownloader.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Improve download UI: extract DownloadProgress component, fix stale progress, and refine disabled card states
  src/components/dev/ModelManager.tsx
  src/components/layout/DownloadIndicator.tsx
  src/components/settings/FfmpegManager.tsx
  src/components/settings/WhisperModelManager.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/ui/DownloadProgress.tsx
  src/components/ui/index.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/DevMenu.tsx
  src/primitives/createTextProcessing.ts
Due: frontend-lint, frontend-format

Extract ConfirmDialog component, add delete confirmations, and improve LLM tester UI
  src/components/dev/CacheClear.tsx
  src/components/dev/LlmTester.tsx
  src/components/dev/ModelManager.tsx
  src/components/settings/FfmpegManager.tsx
  src/components/settings/WhisperModelManager.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/ui/ConfirmDialog.tsx
  src/i18n/__tests__/index.test.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/DevMenu.tsx
Due: frontend-lint, frontend-format

Improve skill descriptions, add /add-command skill, and fix inaccurate agent/rule references
  .claude/agents/solidjs-frontend.md
  .claude/rules/ipc-events.md
  .claude/skills/add-command/SKILL.md
  .claude/skills/i18n/SKILL.md
  .claude/skills/refactor-be/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
  .claude/skills/verify/SKILL.md
Due: none

Extract ModelListItem component, fix ARIA semantics, and improve delete-model auto-selection
  src/components/dev/ModelManager.tsx
  src/components/settings/WhisperModelManager.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/ui/ModelListItem.tsx
  src/pages/DevMenu.tsx
  src/primitives/createTextProcessing.ts
  src/primitives/createWhisper.ts
Due: frontend-lint, frontend-format

Add settings.json for permissions and sandbox configuration
  .claude/settings.json
Due: none

Add icons to ResultToolbar dropdowns, remove unused format signal, and disable useSemanticElements rule
  biome.json
  src/components/transcription/ResultToolbar.tsx
  src/components/ui/ModelListItem.tsx
Due: frontend-lint, frontend-format

Redesign app icon with purple ripple orb matching primary color scheme
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/64x64.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/icons/icon.svg
Due: none

Redesign dashboard with QuickActions and SetupBanner, fix path extraction bug
  src/__tests__/App.test.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/HeroCard.tsx
  src/components/dashboard/QuickActions.tsx
  src/components/dashboard/RecentActivity.tsx
  src/components/dashboard/SetupBanner.tsx
  src/components/dashboard/StatsRow.tsx
  src/components/dashboard/__tests__/Dashboard.test.tsx
  src/components/dashboard/index.ts
  src/components/transcription/FileSelector.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/constants.ts
  src/lib/format.ts
  src/pages/Transcription.tsx
Due: frontend-lint, frontend-format

Add audio duration detection and transcription time estimate display
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/converter/commands.rs
  src-tauri/src/converter/duration.rs
  src-tauri/src/converter/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/whisper/models.rs
  src-tauri/src/whisper/types.rs
  src/components/transcription/FileSelector.tsx
  src/components/transcription/RecordingPanel.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/format.ts
  src/pages/Transcription.tsx
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createWhisper.ts
  src/types/__tests__/whisper.test.ts
  src/types/whisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Remove medium model, speed_note field, and simplify model recommendation logic
  src-tauri/src/converter/duration.rs
  src-tauri/src/whisper/models.rs
  src-tauri/src/whisper/types.rs
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/modelDescription.ts
  src/primitives/__tests__/createWhisper.test.ts
  src/types/__tests__/whisper.test.ts
  src/types/whisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Upgrade Gemma 3 4B to Gemma 4 E2B, bump llama-server to b8672, and add server version tracking
  src-tauri/src/history/db.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/models.rs
  src-tauri/src/text_processing/types.rs
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/modelDescription.ts
  src/primitives/__tests__/createSettings.test.ts
  src/types/text-processing.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Improve UI polish: prefill LLM tester input, enlarge file metadata badges, fix flex overflow, and add global button cursor
  src/components/dev/LlmTester.tsx
  src/components/transcription/FileSelector.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/index.css
  src/pages/Transcription.tsx
Due: frontend-lint, frontend-format

Fix summary tab visibility during unrelated processing and preserve previous AI results
  src/components/transcription/ResultViewer.tsx
  src/primitives/createAiSession.ts
Due: frontend-lint, frontend-format

Extract TranscriptionResult component, normalize imports to ~/paths, and replace heading tags with divs
  src/components/dev/CacheClear.tsx
  src/components/dev/LlmTester.tsx
  src/components/dev/ModelManager.tsx
  src/components/onboarding/CompletionStep.tsx
  src/components/onboarding/FfmpegStep.tsx
  src/components/onboarding/LlmStep.tsx
  src/components/onboarding/ModelStep.tsx
  src/components/onboarding/WelcomeStep.tsx
  src/components/transcription/TranscriptionResult.tsx
  src/components/transcription/index.ts
  src/lib/errors.ts
  src/pages/Transcription.tsx
Due: frontend-lint, frontend-format

Reduce pub visibility in downloader, add serde annotation to ChatMessage, and fix clippy warnings
  src-tauri/src/converter/downloader.rs
  src-tauri/src/text_processing/models.rs
  src-tauri/src/text_processing/types.rs
Due: rust-fmt, rust-clippy

Unify i18n confirmation message style and remove unused dictionary keys
  src/i18n/__tests__/index.test.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
Due: frontend-lint, frontend-format

Show remaining time ETA and responsive cancel during transcription
  src-tauri/src/whisper/commands.rs
  src-tauri/src/whisper/models.rs
  src/components/transcription/TranscriptionProgress.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/Transcription.tsx
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Bump whisper-rs to 0.16, suppress non-speech tokens, filter repetition loops, and smooth ETA display
  .claude/rules/workarounds.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/whisper/commands.rs
  src-tauri/src/whisper/process.rs
  src-tauri/src/whisper/types.rs
  src/components/transcription/TranscriptionProgress.tsx
  src/primitives/__tests__/createWhisper.test.ts
  src/types/__tests__/whisper.test.ts
  src/types/whisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Add medium and large-v3 models, remove recommended label and suppress_nst, drop sysinfo
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/history/db.rs
  src-tauri/src/history/search.rs
  src-tauri/src/history/types.rs
  src-tauri/src/whisper/commands.rs
  src-tauri/src/whisper/models.rs
  src-tauri/src/whisper/process.rs
  src-tauri/src/whisper/types.rs
  src/components/onboarding/ModelStep.tsx
  src/components/transcription/ModelSelector.tsx
  src/i18n/__tests__/index.test.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/modelDescription.ts
  src/primitives/__tests__/createHistory.test.ts
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createWhisper.ts
  src/types/__tests__/whisper.test.ts
  src/types/whisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Fix mod.rs description accuracy and tighten CLI permissions
  .claude/agents/rust-backend.md
  .claude/settings.json
  .claude/skills/add-command/SKILL.md
Due: none

Add Silero VAD to skip silence and speed up transcription
  src-tauri/src/lib.rs
  src-tauri/src/whisper/commands.rs
  src-tauri/src/whisper/models.rs
  src-tauri/src/whisper/process.rs
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/Settings.tsx
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createSettings.ts
  src/primitives/createWhisper.ts
  src/types/settings.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Align Whisper and llama-server config with library defaults
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/inference.rs
  src-tauri/src/whisper/process.rs
Due: rust-fmt, rust-clippy

Document tuning policy and lint tests in /verify skill
  .claude/rules/tuning.md
  .claude/skills/verify/SKILL.md
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

Extract shared primitives and consolidate duplicated helpers
  src/components/history/HistoryDetail.tsx
  src/components/history/HistoryFilter.tsx
  src/components/text-processing/TextModelManager.tsx
  src/components/transcription/ModelSelector.tsx
  src/components/transcription/ResultCleanTextTab.tsx
  src/components/transcription/ResultProcessingShell.tsx
  src/components/transcription/ResultSummaryTab.tsx
  src/components/transcription/TranscriptionResult.tsx
  src/components/transcription/index.ts
  src/components/ui/index.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/lib/errors.ts
  src/lib/export.ts
  src/lib/format.ts
  src/pages/DevMenu.tsx
  src/pages/Transcription.tsx
  src/primitives/createTitleEditor.ts
  src/primitives/index.ts
Due: frontend-lint, frontend-format

Convert createRecording to a module-level singleton
  src/primitives/__tests__/createRecording.test.ts
  src/primitives/createRecording.ts
Due: frontend-lint, frontend-format

Extract createAiActions primitive and AiActionDialogs from ResultViewer
  src/components/transcription/AiActionDialogs.tsx
  src/components/transcription/ResultViewer.tsx
  src/primitives/createAiActions.ts
Due: frontend-lint, frontend-format

Extract FfmpegControl headless component for settings and dev menu
  src/components/settings/FfmpegManager.tsx
  src/components/ui/FfmpegControl.tsx
  src/pages/DevMenu.tsx
Due: frontend-lint, frontend-format

Move WhisperModelList to ui/ and drop WhisperModelManager wrapper
  src/components/dev/index.ts
  src/components/settings/WhisperModelManager.tsx
  src/components/settings/index.ts
  src/components/ui/WhisperModelList.tsx
  src/pages/DevMenu.tsx
  src/pages/Settings.tsx
Due: frontend-lint, frontend-format

Extract shared paths and settings helpers from command modules
  src-tauri/src/converter/commands.rs
  src-tauri/src/converter/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/paths.rs
  src-tauri/src/recording/commands.rs
  src-tauri/src/settings.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/error.rs
  src-tauri/src/whisper/commands.rs
  src-tauri/src/whisper/error.rs
Due: rust-fmt, rust-clippy

Split text_processing archive extraction into extract module
  src-tauri/src/converter/mod.rs
  src-tauri/src/history/commands.rs
  src-tauri/src/history/error.rs
  src-tauri/src/text_processing/commands.rs
  src-tauri/src/text_processing/extract.rs
  src-tauri/src/text_processing/mod.rs
Due: rust-fmt, rust-clippy

Split history db.rs into focused submodules
  src-tauri/src/history/db.rs
  src-tauri/src/history/db/ai_content.rs
  src-tauri/src/history/db/compression.rs
  src-tauri/src/history/db/entries.rs
  src-tauri/src/history/db/mod.rs
  src-tauri/src/history/db/rows.rs
  src-tauri/src/history/db/time.rs
Due: rust-fmt, rust-clippy

Consolidate whisper/process casts and convert DB row tuples to structs
  src-tauri/src/history/db/rows.rs
  src-tauri/src/whisper/process.rs
Due: rust-fmt, rust-clippy

Prune unused i18n keys and replace hardcoded UI strings
  src/components/dev/LlmTester.tsx
  src/components/onboarding/WelcomeStep.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
Due: frontend-lint, frontend-format

Refresh Claude Code config and add publish safeguards
  .claude/agents/rust-backend.md
  .claude/agents/solidjs-frontend.md
  .claude/rules/error-handling.md
  .claude/settings.json
  CLAUDE.md
  package.json
  src-tauri/Cargo.toml
Due: none

Ship macOS as Install.command zip and add end-user install docs
  .github/workflows/release.yml
  README.md
  docs/install.md
  src-tauri/scripts/Install.command
  src-tauri/tauri.conf.json
Due: none

Add Notion export for transcripts and AI text
  CLAUDE.md
  README.md
  src-tauri/src/lib.rs
  src-tauri/src/notion/client.rs
  src-tauri/src/notion/commands.rs
  src-tauri/src/notion/error.rs
  src-tauri/src/notion/mod.rs
  src-tauri/src/notion/types.rs
  src-tauri/src/settings.rs
  src/components/history/HistoryDetail.tsx
  src/components/settings/NotionIntegration.tsx
  src/components/settings/index.ts
  src/components/transcription/NotionShareDialog.tsx
  src/components/transcription/ResultToolbar.tsx
  src/components/transcription/ResultViewer.tsx
  src/components/transcription/TranscriptionResult.tsx
  src/components/transcription/__tests__/ResultViewer.test.tsx
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/lib/errors.ts
  src/pages/Settings.tsx
  src/primitives/createNotionSettings.ts
  src/primitives/createNotionShare.ts
  src/types/index.ts
  src/types/notion.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Reset main scroll position on route change
  src/components/layout/AppLayout.tsx
Due: frontend-lint, frontend-format

Path conditions:
  frontend-lint: any of: *.{ts,tsx}
  frontend-format: any of: *.{ts,tsx}
  rust-fmt: any of: *.rs and ^src\-tauri/
  rust-clippy: any of: *.rs and ^src\-tauri/
