Repository axunion/whisper-tauri: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-format, rust-fmt, rust-clippy

frontend-lint:
  run: pnpm lint

frontend-format:
  run: pnpm format

rust-fmt:
  run: cargo fmt --check

rust-clippy:
  run: cargo clippy -- -D warnings

Update progress: Step 1 complete, ready to resume from Step 2
  .claude/CLAUDE.md
Due: none

Add production build documentation and workflow rule
  .claude/CLAUDE.md
  docs/features/README.md
  docs/features/build.md
Due: none

Add feature plans: SLM text processing and history management
  docs/features/README.md
  docs/features/history.md
  docs/features/slm-text-processing.md
Due: none

Refactor history feature plan and add recording data handling spec
  docs/features/history-search.md
  docs/features/history.md
  docs/features/recording.md
Due: none

Rename and refactor SLM text processing to generic text processing
  docs/features/slm-text-processing.md
  docs/features/text-processing.md
Due: none

Add dashboard and dev-menu feature plans with documentation updates
  .claude/CLAUDE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/dashboard.md
  docs/features/dev-menu.md
  docs/features/file-conversion.md
  docs/mvp/step-03.md
  docs/mvp/step-07.md
Due: none

Revise text-processing plan: adopt llama-server subprocess approach
  docs/features/text-processing.md
Due: none

Update documentation: add solid-ui policy, Gemma 3 models, and consistency fixes
  .claude/CLAUDE.md
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/file-conversion.md
  docs/features/history.md
  docs/features/text-processing.md
  docs/mvp/step-06.md
Due: none

Implement Step 2: Type system for Rust/TypeScript IPC
  .claude/CLAUDE.md
  docs/mvp/step-01.md
  docs/mvp/step-02.md
  src-tauri/src/lib.rs
  src-tauri/src/whisper/mod.rs
  src-tauri/src/whisper/types.rs
  src/types/__tests__/whisper.test.ts
  src/types/index.ts
  src/types/whisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Revise model lineup: adopt Large v3 Turbo as default, add system-based recommendation
  .claude/CLAUDE.md
  docs/features/dashboard.md
  docs/mvp/step-03.md
  src-tauri/src/whisper/types.rs
  src/types/__tests__/whisper.test.ts
  src/types/whisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Add Claude Code subagent configurations
  .claude/agents/rust-backend.md
  .claude/agents/solidjs-frontend.md
  .claude/agents/tdd-runner.md
  .claude/agents/type-sync-checker.md
Due: none

Implement Step 3: Whisper model management in Rust
  .claude/CLAUDE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/mvp/step-03.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/whisper/commands.rs
  src-tauri/src/whisper/error.rs
  src-tauri/src/whisper/mod.rs
  src-tauri/src/whisper/models.rs
Due: rust-fmt, rust-clippy

Implement Step 4: whisper-rs integration for audio transcription
  .claude/CLAUDE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/mvp/step-04.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/whisper/commands.rs
  src-tauri/src/whisper/error.rs
  src-tauri/src/whisper/mod.rs
  src-tauri/src/whisper/process.rs
Due: rust-fmt, rust-clippy

Implement Step 5: SolidJS createWhisper state management primitive
  .claude/CLAUDE.md
  docs/mvp/step-05.md
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createWhisper.ts
  src/primitives/index.ts
Due: frontend-lint, frontend-format

Implement Step 6: solid-ui based UI components and transcription components
  .claude/CLAUDE.md
  docs/mvp/step-06.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/components/transcription/FileSelector.tsx
  src/components/transcription/ModelSelector.tsx
  src/components/transcription/ResultViewer.tsx
  src/components/transcription/TranscriptionProgress.tsx
  src/components/transcription/__tests__/ResultViewer.test.tsx
  src/components/transcription/index.ts
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Progress.tsx
  src/components/ui/__tests__/Button.test.tsx
  src/components/ui/__tests__/Progress.test.tsx
  src/components/ui/index.ts
  src/index.css
  src/lib/utils.ts
  src/test/setup.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Implement Step 7: Main app integration and MVP completion
  .claude/CLAUDE.md
  docs/mvp/step-07.md
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/whisper/process.rs
  src/App.tsx
  src/__tests__/App.test.tsx
  src/components/transcription/ResultViewer.tsx
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createWhisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Update docs to reflect MVP completion
  .claude/CLAUDE.md
  docs/IMPLEMENTATION_PLAN.md
Due: none

Implement dashboard feature with sidebar layout and routing
  .claude/CLAUDE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/dashboard.md
  package.json
  pnpm-lock.yaml
  src-tauri/tauri.conf.json
  src/App.tsx
  src/__tests__/App.test.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/ModelStatus.tsx
  src/components/dashboard/QuickActions.tsx
  src/components/dashboard/RecentHistory.tsx
  src/components/dashboard/__tests__/Dashboard.test.tsx
  src/components/dashboard/index.ts
  src/components/layout/AppLayout.tsx
  src/components/layout/AppSidebar.tsx
  src/components/layout/__tests__/AppLayout.test.tsx
  src/components/layout/__tests__/Sidebar.test.tsx
  src/components/layout/index.ts
  src/components/ui/index.ts
  src/components/ui/sidebar.tsx
  src/pages/DevMenu.tsx
  src/pages/Settings.tsx
  src/pages/Transcription.tsx
  vitest.config.ts
Due: frontend-lint, frontend-format

Add /verify skill for one-command verification checks
  .claude/CLAUDE.md
  .claude/skills/verify/SKILL.md
  package.json
Due: none

Implement settings persistence, settings page UI, and theme switching
  .claude/CLAUDE.md
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/settings.md
  src/components/layout/AppLayout.tsx
  src/components/ui/AlertDialog.tsx
  src/components/ui/Label.tsx
  src/components/ui/Select.tsx
  src/components/ui/Separator.tsx
  src/index.css
  src/pages/Settings.tsx
  src/primitives/__tests__/createSettings.test.ts
  src/primitives/__tests__/createTheme.test.ts
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createSettings.ts
  src/primitives/createTheme.ts
  src/primitives/createWhisper.ts
  src/test/setup.ts
  src/types/index.ts
  src/types/settings.ts
Due: frontend-lint, frontend-format

Implement file conversion feature with ffmpeg integration
  .claude/CLAUDE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/file-conversion.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/converter/commands.rs
  src-tauri/src/converter/downloader.rs
  src-tauri/src/converter/error.rs
  src-tauri/src/converter/ffmpeg.rs
  src-tauri/src/converter/mod.rs
  src-tauri/src/converter/types.rs
  src-tauri/src/lib.rs
  src/components/layout/AppSidebar.tsx
  src/components/transcription/FileSelector.tsx
  src/index.css
  src/pages/Settings.tsx
  src/pages/Transcription.tsx
  src/primitives/__tests__/createFfmpegDownloader.test.ts
  src/primitives/__tests__/createFileConverter.test.ts
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createFfmpegDownloader.ts
  src/primitives/createFileConverter.ts
  src/primitives/createWhisper.ts
  src/types/converter.ts
  src/types/index.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Add hardware-specific speed estimates to model info
  src-tauri/src/whisper/models.rs
  src-tauri/src/whisper/types.rs
  src/components/dashboard/ModelStatus.tsx
  src/pages/Settings.tsx
  src/primitives/__tests__/createWhisper.test.ts
  src/types/__tests__/whisper.test.ts
  src/types/whisper.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Implement structured error handling across all primitives
  .claude/CLAUDE.md
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/error-handling.md
  src/components/ErrorDisplay.tsx
  src/components/__tests__/ErrorDisplay.test.tsx
  src/lib/__tests__/errors.test.ts
  src/lib/errors.ts
  src/pages/Settings.tsx
  src/pages/Transcription.tsx
  src/primitives/__tests__/createFfmpegDownloader.test.ts
  src/primitives/__tests__/createFileConverter.test.ts
  src/primitives/__tests__/createWhisper.test.ts
  src/primitives/createFfmpegDownloader.ts
  src/primitives/createFileConverter.ts
  src/primitives/createWhisper.ts
  src/types/errors.ts
  src/types/index.ts
Due: frontend-lint, frontend-format

Implement export feature for transcription results (TXT/SRT/VTT)
  src/components/transcription/ResultViewer.tsx
  src/lib/__tests__/export.test.ts
  src/lib/export.ts
Due: frontend-lint, frontend-format

Implement history management with SQLite persistence and Sheet detail view
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/history/commands.rs
  src-tauri/src/history/db.rs
  src-tauri/src/history/error.rs
  src-tauri/src/history/mod.rs
  src-tauri/src/history/types.rs
  src-tauri/src/lib.rs
  src/App.tsx
  src/components/dashboard/RecentHistory.tsx
  src/components/history/HistoryActions.tsx
  src/components/history/HistoryDetail.tsx
  src/components/history/HistoryFilter.tsx
  src/components/history/HistoryList.tsx
  src/components/history/index.ts
  src/components/layout/AppSidebar.tsx
  src/components/ui/Checkbox.tsx
  src/components/ui/Sheet.tsx
  src/lib/errors.ts
  src/pages/History.tsx
  src/pages/Transcription.tsx
  src/primitives/__tests__/createHistory.test.ts
  src/primitives/createHistory.ts
  src/types/history.ts
  src/types/index.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Implement dev menu with cache clear, model manager, and debug log
  .claude/CLAUDE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/dev-menu.md
  src/App.tsx
  src/components/dev/CacheClear.tsx
  src/components/dev/DebugLog.tsx
  src/components/dev/ModelManager.tsx
  src/components/dev/__tests__/DevMenu.test.tsx
  src/components/dev/index.ts
  src/pages/DevMenu.tsx
  src/primitives/__tests__/createDevLog.test.ts
  src/primitives/createDevLog.ts
Due: frontend-lint, frontend-format

Implement toast notification system and integrate with existing operations
  docs/IMPLEMENTATION_PLAN.md
  docs/features/README.md
  docs/features/toast.md
  src/components/dev/CacheClear.tsx
  src/components/dev/DebugLog.tsx
  src/components/dev/ModelManager.tsx
  src/components/layout/AppLayout.tsx
  src/components/transcription/ResultViewer.tsx
  src/components/ui/__tests__/toast.test.tsx
  src/components/ui/index.ts
  src/components/ui/toast.tsx
  src/lib/__tests__/toast.test.ts
  src/lib/toast.ts
  src/pages/History.tsx
  src/pages/Settings.tsx
  src/pages/Transcription.tsx
Due: frontend-lint, frontend-format

Add refactor skills and update CLAUDE.md to reflect current state
  .claude/CLAUDE.md
  .claude/skills/refactor-be/SKILL.md
  .claude/skills/refactor-fe/SKILL.md
  .claude/skills/verify/SKILL.md
Due: none

Implement i18n system with Japanese/English language switching
  .claude/CLAUDE.md
  docs/IMPLEMENTATION_PLAN.md
  docs/features/i18n.md
  src/__tests__/App.test.tsx
  src/components/ErrorDisplay.tsx
  src/components/__tests__/ErrorDisplay.test.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/ModelStatus.tsx
  src/components/dashboard/QuickActions.tsx
  src/components/dashboard/RecentHistory.tsx
  src/components/dashboard/__tests__/Dashboard.test.tsx
  src/components/dev/CacheClear.tsx
  src/components/dev/DebugLog.tsx
  src/components/dev/ModelManager.tsx
  src/components/dev/__tests__/DevMenu.test.tsx
  src/components/history/HistoryActions.tsx
  src/components/history/HistoryDetail.tsx
  src/components/history/HistoryFilter.tsx
  src/components/history/HistoryList.tsx
  src/components/layout/AppLayout.tsx
  src/components/layout/AppSidebar.tsx
  src/components/layout/__tests__/Sidebar.test.tsx
  src/components/transcription/FileSelector.tsx
  src/components/transcription/ModelSelector.tsx
  src/components/transcription/ResultViewer.tsx
  src/components/transcription/TranscriptionProgress.tsx
  src/components/transcription/__tests__/ResultViewer.test.tsx
  src/i18n/__tests__/dictionaries.test.ts
  src/i18n/__tests__/index.test.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/index.tsx
  src/i18n/types.ts
  src/pages/DevMenu.tsx
  src/pages/History.tsx
  src/pages/Settings.tsx
  src/pages/Transcription.tsx
  src/test/helpers.tsx
Due: frontend-lint, frontend-format

Add i18n skill and i18n sync workflow rule
  .claude/CLAUDE.md
  .claude/skills/i18n/SKILL.md
Due: none

Add full-text search and query LIMIT to history module
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/history/commands.rs
  src-tauri/src/history/db.rs
  src-tauri/src/history/mod.rs
  src-tauri/src/history/search.rs
  src-tauri/src/history/types.rs
  src-tauri/src/lib.rs
  src/components/dashboard/RecentHistory.tsx
  src/components/history/SearchBar.tsx
  src/components/history/index.ts
  src/i18n/dictionaries/en.ts
  src/i18n/dictionaries/ja.ts
  src/i18n/types.ts
  src/pages/History.tsx
  src/primitives/__tests__/createHistory.test.ts
  src/primitives/createHistory.ts
  src/types/history.ts
  src/types/index.ts
Due: frontend-lint, frontend-format, rust-fmt, rust-clippy

Fix toast duration type error with exactOptionalPropertyTypes
  src/components/ui/toast.tsx
Due: frontend-lint, frontend-format

Path conditions:
  frontend-lint: any of: *.{ts,tsx}
  frontend-format: any of: *.{ts,tsx}
  rust-fmt: any of: *.rs and ^src\-tauri/
  rust-clippy: any of: *.rs and ^src\-tauri/
